<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redsegura"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".RedSeguraApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RedSegura"
        tools:targetApi="33">

        <!-- Actividades de tu app -->
        <activity android:name="com.redsegura.activities.AlertActivity" />
        <activity android:name="com.redsegura.activities.MapActivity" />
        <activity android:name="com.redsegura.activities.AIChatActivity" />
        <activity android:name="com.redsegura.activities.ChatActivity" />
        <activity android:name="com.redsegura.activities.CommunityActivity" />
        <activity android:name="com.redsegura.activities.RegisterActivity" />
        <activity android:name="com.redsegura.activities.LoginActivity" />
        <activity android:name="com.redsegura.activities.TutorialActivity" />
        <activity android:name="com.redsegura.activities.MainActivity" />

        <!-- NUEVA: LauncherActivity como inicio -->
        <activity
            android:name="com.redsegura.activities.LauncherActivity"
            android:exported="true"
            android:theme="@style/Theme.RedSegura">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
